.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 250px 250px 250px ;
    gap: 9px;
    



}

.container div{
    /* background-color: aqua; */
}
.item1{
    background-color: blue;
   /* . grid-column: 1/3; */
    grid-row: 1/3;
    grid-column: span 2;
}
.gid-layout{
    display: grid;
     grid-template-columns:1fr 1fr;
    grid-template-rows: 250px 250px 250px ;
    grid-template-areas: 
    'header header'
    "sidebar main"
    "footer footer"
    ;
    
}
.header{
     grid-area: header ;
     background-color: rgb(30, 255, 0);

}

.sidebar{ grid-area: sidebar;}
.main{ grid-area: main;}
.footer{ grid-area: footer;}
